* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* FONT */
  --font-primary: "IBM Plex Mono", monospace;

  /* COLORS */
  --text-primary: #000000;
  --input-background: #E4E4E4;
  --button-background: #26262E;
  --button-text: #F6F6F6;
}

body {
  font-family: var(--font-primary);
}