.container {
  width: 400px;
  background: #fff;
  padding: 32px;
  border-radius: 20px;
}

.linkText {
  margin-top: -8px;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font-secondary);
}

.link {
  color: var(--text-primary);
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}

.terms {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 17px;
}

.terms label {
  font-weight: 600;
  font-family: var(--font-secondary);
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 16px;
  background-color: var(--input-background);
  cursor: pointer;
}

.divBottom {
  margin-top: 15px;
}